
.email{
 
    color: #fcbb3c !important;
    text-decoration: none !important;
    transition: all 0.3s ease 0s;
    font-family: 'Roboto', sans-serif !important;
    font-weight: normal !important;;
    font-size: 14px !important;
    line-height: 30px !important;
    background: #f8f7f7;
    -webkit-font-smoothing: antialiased !important;
    text-transform: none !important;
    font-style: italic !important;
    }


.hero-slide img{
    min-width: 100%;
    }

.hero-slide .container {
    position: absolute;
    left: 0;
    right: 0;
    top       : 50%;
    transform : translateY(-50%);
    }

.hero-slide .carousel-caption {
    position    : relative;
    right       : 0;
    left        : 0;
    text-align  : left;
    text-shadow : none;
    width : 70%;
    }

.hero-slide .carousel-caption small {
    font-size       : 13px;
    color           : #1a8ae1;
    font-weight     : 500;
    animation-delay : 1s;
    }

.hero-slide .carousel-caption .phone {
    font-size               : 30px;
    color                   : #ff5722;
    -webkit-animation-delay : 100ms;
    animation-delay         : 100ms;
    }

.hero-slide .carousel-caption h1 {
    font-size               : 56px;
    line-height             : 1;
    font-weight             : bold;
    text-transform          : capitalize;
    margin                  : 30px 0 20px;
    -webkit-animation-delay : 150ms;
    animation-delay         : 150ms;
    color:#222;
    }

.hero-slide .carousel-caption .lead {
    font-size               : 30px;
    color                   : #0e0d0d;
    font-weight             : normal;
    margin-bottom           : 10px;
    -webkit-animation-delay : 200ms;
    animation-delay         : 200ms;
    text-shadow: 
    1px 1px 0 rgb(209, 146, 9),   /* Bottom right shadow */
    -1px -1px 0 rgb(209, 146, 9), /* Top left shadow */
    1px -1px 0 rgb(209, 146, 9),  /* Top right shadow */
    -1px 1px 0 rgb(209, 146, 9);
    }

.hero-slide .carousel-caption .btn {
    -webkit-animation-delay : 250ms;
    animation-delay         : 250ms;
    background: #1a8ae1;
    color: #fff;
    }

.hero-slide .carousel-caption .btn:hover{
    background: #fff;
    color: #333;
    }

/* Slider Controller */
.hero-slide .carousel-control.left,
.hero-slide .carousel-control.right {
    font-size   : 30px;
    width       : 30px;
    height      : 100px;
    line-height : 100px;
    top         : 50%;
    background  : #000000;
    cursor      : pointer;
    border      : 0;
    text-shadow : none;
    transform   : translateY(-50%);
    }

.hero-slide .carousel-control.left {
    left : -100%;
    }

.hero-slide .carousel-control.right {
    right : -100%;
    }

.hero-slide:hover .left {
    left : 0;
    }

.hero-slide:hover .right {
    right : 0;
    }

/* Slider Indicator*/
.hero-slide .carousel-indicators li {
    border  : 2px solid rgba(0, 0, 0, .5);
    opacity : .5;
    }

.hero-slide .carousel-indicators li.active {
    border-color     : #ff5722;
    background-color : #ff5722;
    opacity          : 1;
    }

/*Media Query*/

@media (max-width : 1024px) {
    .hero-slide .carousel-caption h1 {
        font-size : 40px;
        margin-top: 10px;
        }

    .hero-slide .carousel-caption .lead{
        font-size: 30px;
        text-align: left;
        }

    .hero-slide .carousel-caption .btn{
        font-size: 12px;
        }

    .hero-slide .carousel-caption .phone{
        font-size: 18px;
        }
    .hero-slide .carousel-caption small{
        font-size: 11px;
        }

    .hero-slide .carousel-caption{
        padding: 40px 0;
        }
    }


@media (max-width : 768px) {

    .hero-slide .carousel-caption h1 {
        font-size : 30px;
        margin-top: 10px;
        }

    .hero-slide .carousel-caption .lead{
        font-size: 15px;
        text-align: left;
        color: #493305 !important;
        }

    .hero-slide .carousel-caption .phone{
        font-size: 16px;
        line-height: 1;
        }

    .hero-slide .carousel-caption small{
        font-size: 10px;
        }

    .hero-slide .carousel-caption .btn{
        font-size: 12px;
        }
    }

@media (max-width : 600px) {
    .carousel-indicators{
        display: none;
        }

    .hero-slide .carousel-caption{
        width: 100%;
        text-align: center;
        padding: 30px;
        }

    .hero-slide .carousel-caption .lead{
        margin-bottom: 5px;
        text-align: left;
        }

    .hero-slide .carousel-caption .btn{
        font-size: 10px;
        padding: 5px 10px;
        border-width: 1px;
        }
    }

@media (max-width : 320px){
    .hero-slide{
        display: none;
        }
    }




/*------------------------------------------------------------------
OUR SERVICES SECTION
--------------------------------------------------------------------- */
.service-wrap {
  overflow: hidden;
  background: #fff;
  z-index: 0;
}

.service-wrap .section-heading {
  margin-bottom: 30px;
}

.service-wrap .section-heading h2 {
  color: #fff;
}

.service-wrap .section-sub {
  font-size: 18px;
  font-weight: 400;
  color: rgba(255,255,255,.8);
}

.service-wrap .section-sub::after {
  background-color: #fff;
  left: 0;
  margin-left: 0;
}

.service-left-box {
  position: relative;
  padding: 80px 60px 80px 0;
  color: #fff;
}

.service-left-box:before {
  position: absolute;
  content: "";
  width: 300%;
  height: 100%;
  background: #384753;
  top: 0;
  right: 25px;
  z-index: -1;
}

.service-left-box .service-intro p {
  line-height: 35px;
}

#service-carousel {
  padding: 150px 0;
}

.service-content h3 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 20px;
}

.service-content h3 span {
  font-size: 24px;
  color: #bcbcbc;
}

.service-content .service-thumb {
  margin-bottom: 20px;
}

.service-content .service-thumb img {
  width: 100%;
}

.service-content p {
  line-height: 35px;
}

.service-content a {
  margin-top: 30px;
}

.service-content a i {
  margin-left: 5px;
}

/* ------------------------------------------------------------------
ABOUT US WRAP
--------------------------------------------------------------------- */
.about-us-wrap {
  background: url(../img/capbilities.png)no-repeat;
  background-size: 50%;
  background-position: right 85px;
}

.about-us-wrap .about-us-content h3 {
  margin-bottom: 25px;
}

.about-us-wrap .about-us-content span {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  line-height: 28px;
  color: #343434;
}

.about-us-wrap .about-us-content p {
  margin-bottom: 0;
}

.about-us-wrap .about-us-content.capabilities {
  background: #384753;
  padding: 48px 52px;
  color: #fff;
}

.about-us-wrap .about-us-content.capabilities .about-content-block h3 {
  margin: 0px 0 20px;
  font-size: 36px;
  color: #fff;
}

.about-us-wrap .about-us-content.capabilities ul li {
  position: relative;
  padding-left: 25px;
  font-weight: 500;
}

.about-us-wrap .about-us-content.capabilities ul li:before {
  position: absolute;
  left: 0;
  content: "\f00c";
  font-family: FontAwesome;
  color: #ccc;
}


/* ------------------------------------------------------------------
Featuer Section
--------------------------------------------------------------------- */
.feature-wrap {
  background: #fff url(../img/fly-869595_1920.jpg) no-repeat center top fixed;
  background-size: cover;
  color: #fff;
  height: 300px;
}


.feature-wrap .feature-content p {
  font-size: 18px;
}


/* ------------------------------------------------------------------
PORTFOLIO WRAP
--------------------------------------------------------------------- */

.fleets-wrap {
  padding-top: 75px;
  background: #fff;
}

.fleets-wrap .section-heading {
  margin: 0 0 35px;
}

.fleets-wrap .no-padding {
  margin: 0 -15px;
}

.fleets-wrap .owl-stage-outer {
  border-bottom: 1px solid #eee;
}

.fleets-wrap .owl-item {
  margin: 0!important;
}

.fleets-wrap .owl-item .owl-item-thumb {
  position: relative;
}

.fleets-wrap .owl-item .owl-item-thumb .owl-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  background: #6b64f3;
}

.fleets-wrap .owl-item .owl-item-thumb a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.fleets-wrap .owl-item .owl-item-thumb a img {
  width: auto!important;
  margin: 35% auto 0;
  opacity: 0;
}

.fleets-wrap .owl-item .owl-item-thumb .owl-item-overlay,
.fleets-wrap .owl-item .owl-item-thumb a img {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.fleets-wrap .owl-item .owl-item-thumb:hover .owl-item-overlay {
  opacity: 0.9;
}

.fleets-wrap .owl-item .owl-item-thumb:hover a img {
  opacity: 1;
}

.fleets-wrap .owl-item .owl-tem-content {
  border-right: 1px solid #ebebeb;
  box-sizing: border-box;
  padding: 30px;
}

.fleets-wrap .owl-item .owl-tem-content h3 {
  font-size: 16px;
  line-height: 24px;
}

.fleets-wrap .owl-item .owl-tem-content h3 a {
  color: #343434;
}

.fleets-wrap .owl-item .owl-tem-content h3 a:hover {
  color: #1a8ae1;
}

.fleet-carousel-navigation {
  position: absolute;
  top: -75px;
  right: 15px;
}

.fleet-carousel-navigation .left {
  margin-right: -3px;
}



.lang{
  position: fixed;
  top: 2%;
  right: 2.5%;
  z-index: 9999;
  transition: z-index 0.3s;
}

input, select, textarea {
display: inline-block;
outline: none;
border: .0625rem solid #686868;
border-radius: .1875rem;
color: #3b3b3b;
background-color: #fff;
font-size: 1rem;
font-weight: 400;
line-height: 130%;
transition: all .15s ease-in-out;
will-change: auto;
}


.lang-switcher {
width: -moz-fit-content;
width: fit-content;
display: flex;
align-items: center;
border-radius: 6px;
transition: background-color .15s ease-in-out;
will-change: background-color;
  /* background: #f3f3f3;
  border: 1px solid #555; */
  padding: 1px 3px;
}

.lang-switcher img {
display: block;
}

.lang-switcher__select {
border: none !important;
}

.lang-switcher__select {
height: 2.5rem;
width: 3.125rem;
padding: 0rem .3125rem 0rem .625rem;
background: rgba(0,0,0,0);
border-radius: .1875rem;
color: #555;
font-size: 1.6rem;
  font-weight: 600;
appearance: none;
-moz-appearance: none;
-webkit-appearance: none;
cursor: pointer;
}

.lang-switcher__select option {
color: #3b3b3b;
  font-weight: 600;
  background: #f3f3f3;
}

#lang-img {
  display: inline-block; /* Needed to set width and height */
  width: 3vh; 
  height: 2.5vh; 
  background-size: cover; /* Adjusts image to cover the span */
  background-position: center; /* Centers the image within the span */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}
